/* Search Bar */
.search-title{
    padding-bottom: 25px;
}


/* List profiles */
.profile{
    margin-top: 25px;
    margin-bottom: 100px;
}
.profile-thumbnail{
    border-radius: 50%;
    border: 3px solid lightblue;
    vertical-align: top;
        margin-right: 25px;

}

.caption{
    display: inline-block;
    text-align: center;
}

.caption h3{
    font-size: 19px;
}

.form-horizontal .control-label{
    text-align: left;
}

