@import url("profile.css");
@import url("swiper-overwrite.css");
@import url("directory.css");
@import url("login.css");

@font-face {
    font-family: 'Titillium';
    src: url('../fonts/TitilliumWeb-Regular.ttf');
    src: url('../fonts/TitilliumWeb-Bold.ttf');
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Titillium Web', sans-serif;
}

/*navheader*/

.navheader {
    height: 150px;
    background-image: url('../img/WB3_header.jpg');
}

html, body {
    position: relative;
    height: 100%;
}
body {
    background: #eee;
    font-family: 'Titillium Web', sans-serif;
    font-size: 14px;
    color:#000;
    margin: 0;
    padding: 0;
}
.swiper-container {
    width: 100%;
    height: 100%;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

body {
  padding-bottom: 70px;
  border-sizing: border-box;
}

/*.copyright {
   text-align: right;
}

.backtotop {
   text-align: right;
}


}*/

.map {
    maring: 20px 0 0 30px;
   padding: 0 0 0 0;
}

.modal-backdrop {
   z-index: 0;
}

/*footer ul {
       list-style-type: none;
       padding-left: 0;
       padding-top: 75px;
       text-align: right;
}


footer ul li {
   list-style-type: none;
   display: inline-block;
   text-align: right;
}*/
