@import url("profile.css");
@import url("swiper-overwrite.css");
@import url("directory.css");
@import url("login.css");

@font-face {
    font-family: 'Titillium';
    src: url('../fonts/TitilliumWeb-Regular.ttf');
    src: url('../fonts/TitilliumWeb-Bold.ttf');
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Titillium Web', sans-serif;
}

/*navheader*/

.navheader {
    height: 150px;
    background-image: url('../img/WB3_header.jpg');
}

html, body {
    position: relative;
    height: 100%;
}
body {
    background: #eee;
    font-family: 'Titillium Web', sans-serif;
    font-size: 14px;
    color:#000;
    margin: 0;
    padding: 0;
}
.swiper-container {
    width: 100%;
    height: 100%;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

/*fin swiper*/

/*facebook*/

body {
    padding-bottom: 70px;
    border-sizing: border-box;
}

.rand_thumbnails_p{
    text-align: center;
}

.profile-thumbnail{
    margin: 0;
}

/* FOOTER */

.logo-footer {
    margin: 15px 0 0 15px;
}

.navbar-text {
    margin: 0 0 0 15px;

}

.map {
    margin: 5px 0 5px 30px;
}

.footer-link {
    color: #9d9d9d;
}

.list-unstyled {
    margin-top: 25px;
    margin-left: 15px;
}

.copyright {
    color: #9d9d9d;
    margin-left: 15px;
}

.modal-backdrop {
   z-index: 0;
}
