.profile-information-wrapper{
	background-color: #fff;
	margin-left: 15px;
}

.lastname{
	text-transform: uppercase;
}

.profile-information-picture{
	border-radius: 50%;
	margin-top: 5%;
	margin-bottom: 20%;
	display: inline-block;
}

.profile-information-prom-dates{
	float: right;
	margin-top: 2%;
	font-weight: bold;
	background-color: #144563;
	padding: 1%;
	color: white;
}

.profile-information-name{
	font-size: 1.8em;
	font-weight: bold;
	margin-bottom: 1%;
}

.profile-information-status{
	margin-bottom: 1%;
}

.profile-information-info{
	font-size: 1.1em;
}

.profile-information-personal-website{
	color: #144563;
	font-weight: bold;
	margin-bottom: 2%;
}

.profile-information-buttons{

}

.profile-information-full-button{
	margin-top: 2%;
	margin-bottom: 2%;
	background-color: #0DB896;
	border: 0;
	margin-right: 2%;
	text-align: center;;
	padding: 1%;
}

.profile-information-contact-button{
	margin-top: 5%;
	margin-bottom: 5%;
	background-color: #0DB896;
	border: 0;
	text-align: center;
	padding: 1%;
}

.profile-information-full-button-link{
	color: #fff;
	text-decoration: none;
}

.profile-information-contact-button-link{
	color: #fff;
	text-decoration: none;

}

.profile-information-full-button:hover, .profile-information-contact-button:hover{
	background-color: #0ba587;
}

.profile-information-full-button-link:hover, .profile-information-contact-button-link:hover{
	color: #fff;
	text-decoration: none;
}


.project-information-wrapper{
	margin-top: 2%;
	background-color: #fff;
	margin-left: 15px;
	margin-bottom: 5%;
}

.project-information-description{
	margin: 2%;
}

.project-information-link{
	margin-top: 2%;
	margin-bottom: 5%;
}

.project-screenshots{
	margin-top: 10%;
	margin-bottom: 10%;
}

.simple-profile-sidebar{
	background-color: #fff;
	margin-right: 15px;
/*	position: fixed;
	right: 8%;*/

}

.simple-profile-sidebar-same-prooject{
	margin-bottom: 5%;
}

.simple-profile-sidebar-same-prom{
	margin-bottom: 5%;
}

.simple-profile-sidebar-same-other{
	margin-bottom: 5%;
}

