.row-profile{
	padding: 15px;
}

.profile-information-wrapper{
	background-color: #fff;
/*	margin-left: 15px;*/
}

.lastname{
	text-transform: uppercase;
}

.profile-information-picture{
	border-radius: 50%;
	margin-top: 5%;
	margin-bottom: 20%;
	display: inline-block;
}

@media (max-width: 1200px){
	.profile-information-picture{
	margin-bottom: 20%;
	}
}

.profile-information-prom-dates{
	float: right;
	margin-top: 2%;
	font-weight: bold;
	background-color: #144563;
	padding: 1%;
	color: white;
}

.profile-information-name{
	font-size: 1.8em;
	font-weight: bold;
	margin-bottom: 1%;
}

.profile-information-status{
	margin-bottom: 1%;
}

.profile-information-info{
	font-size: 1.1em;
}

.profile-information-personal-website{
	color: #144563;
	font-weight: bold;
	margin-bottom: 2%;
}

.profile-information-buttons{
	padding: 0;
}

.profile-information-full-button{
	margin-top: 2%;
	background-color: #0DB896;
	border: 0;
	margin-right: 2%;
	text-align: center;;
	padding: 1%;
}

.profile-information-contact-button{
	margin-top: 5%;
	margin-bottom: 5%;
	background-color: #0DB896;
	border: 0;
	text-align: center;
	padding: 1%;
}

.profile-information-full-button-link{
	color: #fff;
	text-decoration: none;
}

.profile-information-contact-button-link{
	color: #fff;
	text-decoration: none;

}

.profile-information-full-button:hover, .profile-information-contact-button:hover, .mini-sidebar-same-project-profile-button:hover{
	background-color: #0ba587;
}

.profile-information-full-button-link:hover, .profile-information-contact-button-link:hover, .mini-sidebar-same-project-profile-button-link:hover{
	color: #fff;
	text-decoration: none;
}


.project-information-wrapper{
	margin-top: 2%;
	background-color: #fff;
	/*margin-left: 15px;*/
	margin-bottom: 5%;
}

.project-information-description{
	margin: 2%;
}

.project-information-link{
	margin-top: 2%;
}

.project-screenshots{
	margin-top: 10%;
	margin-bottom: 10%;
}

@media (max-width: 988px){
	.project-screenshots{
		margin-bottom: 5%;
	}
}

.simple-profile-sidebar{
	background-color: #fff;
	/*margin-right: 15px;*/
/*	position: fixed;
	right: 8%;*/
}

/*.simple-profile-sidebar-wrapper{
	background-color: #fff;
}*/

@media (max-width: 988px){
	.simple-profile-sidebar{
	display: none;
	}
}

.simple-profile-sidebar-same-project{
	margin-bottom: 5%;
}

.simple-profile-sidebar-same-prom{
	margin-bottom: 5%;
}

.simple-profile-sidebar-same-other{
	margin-bottom: 5%;
}

.mini-sidebar-same-project{
	display: block;
	background-color: #fff;
/*	margin-left: 15px;*/
	margin-bottom: 5%;
}

@media (min-width: 988px){
	.mini-sidebar-same-project{
		display: none;
	}
}

.mini-sidebar-same-project-profile{
	margin-top: 5%;
	margin-bottom: 2%;
	text-align: center;
}

.mini-sidebar-same-project-profile-thumbnail{
	border-radius: 80%;
}

.mini-sidebar-same-project-profile-button{
	margin-top: 2%;
	background-color: #0DB896;
	border: 0;
	margin-right: 2%;
	text-align: center;;
	padding: 3%;
}

.mini-sidebar-same-project-profile-button-link{
	color:white;
	text-decoration: none;
}

.mini-sidebar-same-project-title{
	margin-top: 2%;
}


/******* PROFIL DETAILLE ********/

.summary-wrapper{
	margin-top: 2%;
	background-color: #fff;
}

.summary-description{
	margin: 2%;
}

.studies-wrapper{
	margin-top: 2%;
	background-color: #fff;
}

.studies-description{
	margin: 2%;
}

.jobs-wrapper{
	margin-top: 2%;
	background-color: #fff;
	margin-bottom: 2%;
}

.jobs-description{
	margin: 2%;
}

.full-profile-sidebar{
	background-color: #fff;
}

.full-profile-sidebar-wf3skills{

}

.full-profile-sidebar-wf3skills-list{
	list-style: none;
	padding: 0;
}

.skill-circles{
	display: inline-block;
	margin-right: 10%;
	color: #144563;
}

.personal-skill-circles{
	display: inline-block;
	margin-right: 10%;
	color: #0DB896;
}


@media (max-width: 988px){
	.full-profile-sidebar{
	display: none;
	}
}

.full-profile-sidebar-project-link{
	margin-top: 2%;
}

.full-profile-sidebar-project-screenshots{
	margin-top: 10%;
	margin-bottom: 10%;
}

.s6{
	margin-top: 10%;
}

.studies-description{
	margin-bottom: 7.5%;
}

.jobs-description{
	margin-bottom: 7.5%;
}

.full-profile-keywords-word{
	display: inline-block;
	background-color: #b6e9df;
	border: 1px solid #0DB896;
	border-radius: 10%;
	padding: 2%;
}

.full-profile-keywords-word-link{
	color: #065c4b;
	text-decoration: none;
}

.full-profile-keywords-word:hover{
	background-color: #0DB896;
	border: 1px solid #b6e9df;
}

.full-profile-keywords-word-link:hover{
	color: #fff;
	text-decoration: none;
}