.swiper-button-prev {
	background-image: url('../img/arrow-left.svg');
}

.swiper-button-next{
	background-image: url('../img/arrow-right.svg');
}

.swiper-button-next-project{
	background-image: url('../img/arrow-right.svg');
    right: 10px;
    left: auto;
    position: absolute;
    top: 50%;
    width: 27px;
    height: 44px;
    margin-top: -22px;
    z-index: 10;
    cursor: pointer;
    -moz-background-size: 27px 44px;
    -webkit-background-size: 27px 44px;
    background-size: 27px 44px;
    background-position: center;
    background-repeat: no-repeat;
}

.swiper-button-prev-project{
	background-image: url('../img/arrow-left.svg');
	left: 10px;
    right: auto;
    position: absolute;
    top: 50%;
    width: 27px;
    height: 44px;
    margin-top: -22px;
    z-index: 10;
    cursor: pointer;
    -moz-background-size: 27px 44px;
    -webkit-background-size: 27px 44px;
    background-size: 27px 44px;
    background-position: center;
    background-repeat: no-repeat;

}

.swiper-button-next-same-project{
	background-image: url('../img/arrow-right-green.svg');
    right: 10px;
    left: auto;
    position: absolute;
    top: 50%;
    width: 27px;
    height: 44px;
    margin-top: -22px;
    z-index: 10;
    cursor: pointer;
    -moz-background-size: 27px 44px;
    -webkit-background-size: 27px 44px;
    background-size: 27px 44px;
    background-position: center;
    background-repeat: no-repeat;
}

.swiper-button-prev-same-project{
	background-image: url('../img/arrow-left-green.svg');
	left: 10px;
    right: auto;
    position: absolute;
    top: 50%;
    width: 27px;
    height: 44px;
    margin-top: -22px;
    z-index: 10;
    cursor: pointer;
    -moz-background-size: 27px 44px;
    -webkit-background-size: 27px 44px;
    background-size: 27px 44px;
    background-position: center;
    background-repeat: no-repeat;

}

.swiper-button-next-same-prom{
	background-image: url('../img/arrow-right-green.svg');
    right: 10px;
    left: auto;
    position: absolute;
    top: 50%;
    width: 27px;
    height: 44px;
    margin-top: -22px;
    z-index: 10;
    cursor: pointer;
    -moz-background-size: 27px 44px;
    -webkit-background-size: 27px 44px;
    background-size: 27px 44px;
    background-position: center;
    background-repeat: no-repeat;
}

.swiper-button-prev-same-prom{
	background-image: url('../img/arrow-left-green.svg');
	left: 10px;
    right: auto;
    position: absolute;
    top: 50%;
    width: 27px;
    height: 44px;
    margin-top: -22px;
    z-index: 10;
    cursor: pointer;
    -moz-background-size: 27px 44px;
    -webkit-background-size: 27px 44px;
    background-size: 27px 44px;
    background-position: center;
    background-repeat: no-repeat;

}

.swiper-button-next-same-other{
	background-image: url('../img/arrow-right-green.svg');
    right: 10px;
    left: auto;
    position: absolute;
    top: 50%;
    width: 27px;
    height: 44px;
    margin-top: -22px;
    z-index: 10;
    cursor: pointer;
    -moz-background-size: 27px 44px;
    -webkit-background-size: 27px 44px;
    background-size: 27px 44px;
    background-position: center;
    background-repeat: no-repeat;
}

.swiper-button-prev-same-other{
	background-image: url('../img/arrow-left-green.svg');
	left: 10px;
    right: auto;
    position: absolute;
    top: 50%;
    width: 27px;
    height: 44px;
    margin-top: -22px;
    z-index: 10;
    cursor: pointer;
    -moz-background-size: 27px 44px;
    -webkit-background-size: 27px 44px;
    background-size: 27px 44px;
    background-position: center;
    background-repeat: no-repeat;

}

.swiper-pagination-bullet{
	background-color: #000;
}

.swiper-pagination-bullet-active{
	background-color: #144563;
}

.swiper-pagination-project{
	position: absolute;
	text-align: center;
}

.swiper-pagination-bullet-project{
	background-color: #000;
	width: 8px;
	height: 8px;
	display: inline-block;
	border-radius: 100%;
	opacity: .2;
}

.swiper-pagination-bullet-active{
	background-color: #144563;
}